@{
    Layout = "_AdminLayout";
}

<main>
    <div class="container d-flex justify-content-center mt-5" style="border-radius: 20px; background-color:#f0f0f0; padding: 70px;">
        <div class="border rounded p-4" style="border-radius: 30px; width: 800px;">
            <h2 class="contact-title" style="color:red;">Order Deleted Successfully</h2>
            <p>Thank you for adding a new product. The product has been successfully added to the inventory.</p>
            <a href="/AdminPanel/Add" class="btn btn-primary">Add Another Product</a>
            <a href="/AdminPanel/AllOrders" class="btn btn-secondary">View Orders</a>
        </div>
    </div>
</main>
