@model Appointment
@{
    Layout = "Layout2";
}

<main style="margin-top: 100px ;">
    <div class="container d-flex justify-content-center mt-5" style="  border-radius: 20px; background-color:#f0f0f0; padding: 70px;">
        <div class="border rounded p-4" style="border-radius: 30px; width: 800px;">
            <h2 class="contact-title">Book An Appointment</h2>
            <form method="post" action="/Appointment/Add">
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
               

                <div class="form-row">
                    <label asp-for="Email">Email Address</label>
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email Address">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
               

                <div class="form-row">
                    <label asp-for="Phone">Phone Number</label>
                    <input asp-for="Phone" type="tel" class="form-control"  placeholder="Phone Number" >
                    <span class="text-danger" asp-validation-for="Phone"></span>
                </div>
                


                <div class="form-row">
                    <label asp-for="PetType">Pet Type</label>
                    <select asp-for="PetType" class="form-control" >
                        <option value="petType">Pet Type</option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="bird">Bird</option>
                        <option value="other">Other</option>
                    </select>
                    <span class="text-danger" asp-validation-for="PetType"></span>
                </div>
             
                
                <div class="form-row">

                    <label asp-for="preferredDateTime">Preferred Date And Time</label> 
                    <input asp-for="preferredDateTime" type="datetime-local" class="form-control" >
                    <span class="text-danger" asp-validation-for="preferredDateTime"></span>
                </div>
              
             
                <div class="form-row">
                    <label asp-for="Reason">Reason for Appointment</label>
                    <textarea asp-for="Reason" class="form-control"  rows="3" placeholder="Reason For Appointment" ></textarea>
                    <span class="text-danger" asp-validation-for="Reason"></span>
                </div>
            
               
              
                <div class="sign-up-container" style="padding-top: 10px;">
                    <div class="row">
                        <button type="submit" class="btn btn-login btn-block">Book Appointment</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
  
    </main>

  