@{
	Layout = "Layout2";
}
<main>


    <div class="text-center" style="margin-top:80px;">
        <p class="welcome">About Paw Perfect</p>
    </div>

    <div class="container" style="margin-top: 60px;">
        <div class="row" style="justify-content: space-between;">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <H5 style="font-style: italic;font-family: Arial, Helvetica, sans-serif;">Purpose:</H5>
                <p style="font-style: italic;">
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets
                    especially for yours cats now a days every other person have pets they love them and keep them like there families
                    so we also care about you and your pets we have best facilities for that purpose
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets.

                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="~/images/back4.jpg" alt="" style="height: 250px; width: 300px; margin-bottom: 10px;">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <H5 style="font-style: italic;font-family: Arial, Helvetica, sans-serif;">Goals:</H5>
                <p style="font-style: italic;">
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets
                    especially for yours cats now a days every other person have pets they love them and keep them like there families
                    so we also care about you and your pets we have best facilities for that purpose
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets.

            </div>
        </div>
        <div class="row" style="justify-content: space-between;">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <H5 style="font-style: italic;font-family: Arial, Helvetica, sans-serif;">Services:</H5>
                <p style="font-style: italic;">
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets
                    especially for yours cats now a days every other person have pets they love them and keep them like there families
                    so we also care about you and your pets we have best facilities for that purpose
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets.
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="~/images/back7.png" alt="" style="height: 250px; width: 300px;margin-bottom: 10px;">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <H5 style="font-style: italic;font-family: Arial, Helvetica, sans-serif;">History:</H5>
                <p style="font-style: italic;">
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets
                    especially for yours cats now a days every other person have pets they love them and keep them like there families
                    so we also care about you and your pets we have best facilities for that purpose
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets.
            </div>
        </div>

        <div class="row" style="justify-content: space-between;">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <H5 style="font-style: italic;font-family: Arial, Helvetica, sans-serif;">Love For Pets:</H5>
                <p style="font-style: italic;">
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets
                    especially for yours cats now a days every other person have pets they love them and keep them like there families
                    so we also care about you and your pets we have best facilities for that purpose
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets.
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="~/images/about8.png" alt="" style="height: 250px; width: 300px;margin-bottom: 10px;">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <H5 style="font-style: italic;font-family: Arial, Helvetica, sans-serif;">Reliability:</H5>
                <p style="font-style: italic;">
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets
                    especially for yours cats now a days every other person have pets they love them and keep them like there families
                    so we also care about you and your pets we have best facilities for that purpose
                    This website is all about caring your pets we have food ,medicines and doctors for yout pets.
            </div>
        </div>

    </div>







    <div class="container my-5">
        <div class="row">

            <img src="~/images/about3.jpg" alt="">
        </div>

    </div>

</main>
