@{
    Layout = "Layout2";
}
<h2>this is success</h2>
<main style="margin-top: 100px ;">
    <div class="container d-flex justify-content-center mt-5" style="  border-radius: 20px; background-color:#f0f0f0; padding: 70px;">
        <div class="border rounded p-4" style="border-radius: 30px; width: 800px;">
            <h2 class="welcome" style="color:green;">FeebBack Sent Successfully</h2>
            <p style="font-size:large;font-style:italic;font-family:'Times New Roman';"> We will see your message and do whatever required .</p>
        
        </div>
    </div>
</main>
